.category {
    flex-basis: 20%;
    margin-right: 20px;
    height: 100%;
}

.products-container {
    flex-basis: 80%; 
}

.card-title {
    position: absolute;
    bottom: 212px;
    font-weight: bold;
    padding-left: 22px;
    text-transform: capitalize;
}