.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.card .card-image .card-title{
    color: black;
    font-weight: 400
}
.cart{
    margin-top:40px;
}

.item-desc{
    align-self:center;
}
